<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>주차관리 시스템</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" href="/css/style.css" type="text/css">
        <link rel="stylesheet" href="/css/main.css" type="text/css">
        <!-- jquery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">주차관리 시스템</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="javascript:checkMyArea('area-modal');">
                                내 주차구역 확인하기
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="javascript:openModal('login-modal');">
                                로그인
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container">
            <div class="text-center mt-5">
                <h1> <%= complexName %> 주차장 </h1>
                <p class="lead">실시간 주차 현황을 확인하세요.</p>

                <div class="parking">
                    <table>
                        <thead>
                            <tr>
                                <% B1.forEach(element => { %> <th><%= element %></th> <% }); %>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <% B1.forEach(element => { %>
                                    <td id=<%= element %>></td>
                                <% }); %>
                            </tr>
                        </tbody>
                    </table>

                    <table>
                        <thead>
                            <tr>
                                <% B2.forEach(element => { %> <th><%= element %></th> <% }); %>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <% B2.forEach(element => { %> <td></td> <% }); %>
                            </tr>
                        </tbody>
                    </table>



                    <!-- <div class="B1">
                        <h4 class="floor">B1층</h4>
                        <table>
                            <thead>
                                <tr>
                                    <% B1.forEach(element => { %> <th><%= element %></th> <% }); %>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <% B1.forEach(element => { %> <td></td> <% }); %>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="B2">
                        <h4 class="floor">B2층</h4>
                        <table>
                            <thead>
                                <tr>
                                    <% B2.forEach(element => { %> <th><%= element %></th> <% }); %>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <% B2.forEach(element => { %> <td></td> <% }); %>
                                </tr>
                            </tbody>
                        </table>
                    </div> -->

                </div>
            </div>
        </div>

        <!-- Login Modal -->
        <div id="modal"></div>
        <div class="modal-con login-modal">
            <a href="javascript:;" class="close">X</a>
            <p class="title">로그인</p>
            <div class="con">
                <form class="login">
                    <input type="text" placeholder="아이디">
                    <input type="text" placeholder="비밀번호">
                    <input type="submit" value="로그인">
                </form>
                <p>관리자 및 입주민 회원가입은 관리실에 문의하세요.</p>
            </div>
        </div>

        <!-- My Area Modal-->
        <div id="modal2"></div>
        <div class="modal-con2 area-modal">
            <a href="javascript:;" class="close">X</a>
            <p class="title">내 주차구역</p>
            <div class="con">
                <h5>귀하의 차량은 <%= complexName %> OO층 OO구역에 위치해 있습니다.</h5>
            </div>
        </div>
        <script>
            function openModal(modalname){
                document.get
                $("#modal").fadeIn(300);
                $("."+modalname).fadeIn(300);
            }

            $("#modal, .close").on('click',function(){
                $("#modal").fadeOut(300);
                $(".modal-con").fadeOut(300);
            });

            function checkMyArea(modalname){
                document.get
                $("#modal2").fadeIn(300);
                $("."+modalname).fadeIn(300);
            }

            $("#modal2, .close").on('click',function(){
                $("#modal2").fadeOut(300);
                $(".modal-con2").fadeOut(300);
            });

            
        </script>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>

        
        

    </body>
</html>
